<!-- Live.JS allows us to see changes whenever you hit CTRL + S -->
<script type="text/javascript" src="https://livejs.com/live.js"></script>
<link rel="stylesheet" href="widget.css">
<script>
    // Each component in this folder will be transformed into JS function "onNameFile"
    // Each variable will be exported into function variable example
    // Known limitation is that you can't have multiple variables in one line
    let message;
    let username;
    let messageId;
    var userInfo;
    let messageTime;

    // Will create function called onMessage(message, username, messageId, userInfo)
</script>

<div class="message">[message] my component</div>